body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #999;
}

.mug {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.main-text {
    color: #333;
}

.description {
    background-color: #999;
    color: #666;
    margin-bottom: 20px;
    background-color: #999;
}

.price {
    margin-bottom: 20px;
    
}

.discounted-price {
    color: #999;
    
    text-decoration: line-through;
}

button {
    
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

body{
    background-attachment: fixed;
    background-color: blanchedalmond;
}